
h1 {
  text-align: center;
  font-size: 60px;
  font-family: fantasy;
  color: rgb(145, 203, 203);
}

body {
  background-color: rgb(18, 114, 28);
}

.akan p {
  text-align: justify;
  font-size: 20px;
  font-style: italic;
}

#akanForm {
    width: 45%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    background-color: white;
}